
$color-blue-100:#e4f4fe;
$color-blue-200:#addffc;
$color-blue-300:#76cafb;
$color-blue-400:#3fb5f9;
$color-blue-500:#08a0f7;
$color-blue-600:#067cc0;
$color-blue-700:#045989;
$color-blue-800:#033552;
$color-blue-900:#01121b;

$color-green-100:#e9f9f0;
$color-green-200:#bcedd1;
$color-green-300:#8fe1b2;
$color-green-400:#62d593;
$color-green-500:#34c471;
$color-green-600:#2a9d5a;
$color-green-700:#1e7041;
$color-green-800:#124327;
$color-green-900:#06160d;

$color-yellow-100:#fff8e3;
$color-yellow-200:#fee9ab;
$color-yellow-300:#fdda74;
$color-yellow-400:#fccb3c;
$color-yellow-500:#fbbd08;
$color-yellow-600:#c39203;
$color-yellow-700:#8b6802;
$color-yellow-800:#543f01;
$color-yellow-900:#1c1500;

$color-orange-100:#fdeee4;
$color-orange-200:#facdaf;
$color-orange-300:#f7ab79;
$color-orange-400:#f48a43;
$color-orange-500:#f1680e;
$color-orange-600:#bc510b;
$color-orange-700:#863a08;
$color-orange-800:#502305;
$color-orange-900:#1b0c02;

$color-pink-100:#fbe7ee;
$color-pink-200:#f3b6cb;
$color-pink-300:#ec85a8;
$color-pink-400:#e45485;
$color-pink-500:#df3670;
$color-pink-600:#ab1b4d;
$color-pink-700:#7a1337;
$color-pink-800:#490c21;
$color-pink-900:#18040b;

$color-red-100:#fbe7e7;
$color-red-200:#f3b6b6;
$color-red-300:#eb8686;
$color-red-400:#e35555;
$color-red-500:#db2828;
$color-red-600:#aa1c1c;
$color-red-700:#791414;
$color-red-800:#490c0c;
$color-red-900:#180404;

$color-lime-100:#f2f9e9;
$color-lime-200:#d8ecbd;
$color-lime-300:#bedf92;
$color-lime-400:#a3d266;
$color-lime-500:#8cc63f;
$color-lime-600:#6b992d;
$color-lime-700:#4c6d20;
$color-lime-800:#2e4213;
$color-lime-900:#0f1606;

$color-brown-100:#f7eeeb;
$color-brown-200:#e6ccc3;
$color-brown-300:#d5ab9b;
$color-brown-400:#c58973;
$color-brown-500:#b4674b;
$color-brown-600:#8c503a;
$color-brown-700:#64392a;
$color-brown-800:#3c2219;
$color-brown-900:#140b08;

$color-grey-100:#f1f1f1;
$color-grey-200:#d4d4d4;
$color-grey-300:#b8b8b8;
$color-grey-400:#9c9c9c;
$color-grey-500:#767676;
$color-grey-600:#636363;
$color-grey-700:#474747;
$color-grey-800:#2a2a2a;
$color-grey-900:#0e0e0e;

$color-purple-100:#f1edf5;
$color-purple-200:#d5c8e1;
$color-purple-300:#b9a4cc;
$color-purple-400:#9d80b8;
$color-purple-500:#9271b0;
$color-purple-600:#64477f;
$color-purple-700:#48335b;
$color-purple-800:#2b1e37;
$color-purple-900:#0e0a12;

$color-black-100:#d2d2d2;
$color-black-200:#b1b1b1;
$color-black-300:#848484;
$color-black-400:#585858;
$color-black-500:#202020;
$color-black-600:#181818;
$color-black-700:#121212;
$color-black-800:#0b0b0b;
$color-black-900:#060606;

$color-dark-100:#404a5d;
$color-dark-200:#353c50;
$color-dark-300:#1f2937;
$color-dark-400:#111827;

$color-light-100:#ffffff;
$color-light-200:#f1f1f1;
$color-light-300:#e6e6e6;


.blue-100{background-color:$color-blue-100}
.blue-200{background-color:$color-blue-200}
.blue-300{background-color:$color-blue-300}
.blue-400{background-color:$color-blue-400}
.blue-500{background-color:$color-blue-500}
.blue-600{background-color:$color-blue-600}
.blue-700{background-color:$color-blue-700}
.blue-800{background-color:$color-blue-800}
.blue-900{background-color:$color-blue-900}

.green-100{background-color:$color-green-100}
.green-200{background-color:$color-green-200}
.green-300{background-color:$color-green-300}
.green-400{background-color:$color-green-400}
.green-500{background-color:$color-green-500}
.green-600{background-color:$color-green-600}
.green-700{background-color:$color-green-700}
.green-800{background-color:$color-green-800}
.green-900{background-color:$color-green-900}

.yellow-100{background-color:$color-yellow-100}
.yellow-200{background-color:$color-yellow-200}
.yellow-300{background-color:$color-yellow-300}
.yellow-400{background-color:$color-yellow-400}
.yellow-500{background-color:$color-yellow-500}
.yellow-600{background-color:$color-yellow-600}
.yellow-700{background-color:$color-yellow-700}
.yellow-800{background-color:$color-yellow-800}
.yellow-900{background-color:$color-yellow-900}

.orange-100{background-color:$color-orange-100}
.orange-200{background-color:$color-orange-200}
.orange-300{background-color:$color-orange-300}
.orange-400{background-color:$color-orange-400}
.orange-500{background-color:$color-orange-500}
.orange-600{background-color:$color-orange-600}
.orange-700{background-color:$color-orange-700}
.orange-800{background-color:$color-orange-800}
.orange-900{background-color:$color-orange-900}

.pink-100{background-color:$color-pink-100}
.pink-200{background-color:$color-pink-200}
.pink-300{background-color:$color-pink-300}
.pink-400{background-color:$color-pink-400}
.pink-500{background-color:$color-pink-500}
.pink-600{background-color:$color-pink-600}
.pink-700{background-color:$color-pink-700}
.pink-800{background-color:$color-pink-800}
.pink-900{background-color:$color-pink-900}

.red-100{background-color:$color-red-100}
.red-200{background-color:$color-red-200}
.red-300{background-color:$color-red-300}
.red-400{background-color:$color-red-400}
.red-500{background-color:$color-red-500}
.red-600{background-color:$color-red-600}
.red-700{background-color:$color-red-700}
.red-800{background-color:$color-red-800}
.red-900{background-color:$color-red-900}

.lime-100{background-color:$color-lime-100}
.lime-200{background-color:$color-lime-200}
.lime-300{background-color:$color-lime-300}
.lime-400{background-color:$color-lime-400}
.lime-500{background-color:$color-lime-500}
.lime-600{background-color:$color-lime-600}
.lime-700{background-color:$color-lime-700}
.lime-800{background-color:$color-lime-800}
.lime-900{background-color:$color-lime-900}

.brown-100{background-color:$color-brown-100}
.brown-200{background-color:$color-brown-200}
.brown-300{background-color:$color-brown-300}
.brown-400{background-color:$color-brown-400}
.brown-500{background-color:$color-brown-500}
.brown-600{background-color:$color-brown-600}
.brown-700{background-color:$color-brown-700}
.brown-800{background-color:$color-brown-800}
.brown-900{background-color:$color-brown-900}

.grey-100{background-color:$color-grey-100}
.grey-200{background-color:$color-grey-200}
.grey-300{background-color:$color-grey-300}
.grey-400{background-color:$color-grey-400}
.grey-500{background-color:$color-grey-500}
.grey-600{background-color:$color-grey-600}
.grey-700{background-color:$color-grey-700}
.grey-800{background-color:$color-grey-800}
.grey-900{background-color:$color-grey-900}

.purple-100{background-color:$color-purple-100}
.purple-200{background-color:$color-purple-200}
.purple-300{background-color:$color-purple-300}
.purple-400{background-color:$color-purple-400}
.purple-500{background-color:$color-purple-500}
.purple-600{background-color:$color-purple-600}
.purple-700{background-color:$color-purple-700}
.purple-800{background-color:$color-purple-800}
.purple-900{background-color:$color-purple-900}


.black-100{background-color:$color-black-100}
.black-200{background-color:$color-black-200}
.black-300{background-color:$color-black-300}
.black-400{background-color:$color-black-400}
.black-500{background-color:$color-black-500}
.black-600{background-color:$color-black-600}
.black-700{background-color:$color-black-700}
.black-800{background-color:$color-black-800}
.black-900{background-color:$color-black-900}

.dark-100{background-color:$color-dark-100}
.dark-200{background-color:$color-dark-200}
.dark-300{background-color:$color-dark-300}
.dark-400{background-color:$color-dark-400}

.light-100{background-color:$color-light-100}
.light-200{background-color:$color-light-200}
.light-300{background-color:$color-light-300}