@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

body{
	font-family:'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

*{
	box-sizing:border-box;
}


.margin{
	&_bottom{
		&_4{margin-bottom:4px;}
		&_8{margin-bottom:8px;}
		&_12{margin-bottom:12px;}
		&_16{margin-bottom:16px;}
		&_20{margin-bottom:20px;}
		&_24{margin-bottom:24px;}
	}

	&_top{
		&_4{margin-top:4px;}
		&_8{margin-top:8px;}
		&_12{margin-top:12px;}
		&_16{margin-top:16px;}
		&_20{margin-top:20px;}
		&_24{margin-top:24px;}
	}
}


$font-poppins: 'Poppins', sans-serif;

.poppins{
	font-family:$font-poppins;
}

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

	font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

	@media screen and (max-width: $lower-range) {
		font-size: $min-font-size;
	}
	@media screen and (min-width: $upper-range){
		font-size: $max-font-size;
	}
}

.font-style-light{font-weight:400;}
.font-style-regular{font-weight:500;}
.font-style-medium{font-weight:700;}

.font-style{

	//Font weight

	&-light{font-weight:400;}
	&-regular{font-weight:500;}
	&-medium{font-weight:700;}


	//Font type

	&_title{

		&_1{@extend .font-style-light; @include fluid-type(48px, 72px); letter-spacing:-1.5px;}
		&_2{@extend .font-style-light; @include fluid-type(33px, 60px); letter-spacing:-0.5px;}
		&_3{@extend .font-style-regular; @include fluid-type(26px, 48px); letter-spacing:0px;}
		&_4{@extend .font-style-regular; @include fluid-type(18px, 34px); letter-spacing:0.25px;}
		&_5{@extend .font-style-regular; @include fluid-type(16px, 24px); letter-spacing:0px;}
		&_6{@extend .font-style-medium; @include fluid-type(14px, 20px); letter-spacing:0.15px;}
	}

	&_subtitle{
		&_1{@extend .font-style-regular; @include fluid-type(16px, 24px); letter-spacing:0.15px;}
		&_2{@extend .font-style-medium; @include fluid-type(14px, 20px); letter-spacing:0.1px;}
	}

	&_body{
		&_1{@extend .font-style-regular; @include fluid-type(16px, 18px); letter-spacing:0.5px;}
		&_2{@extend .font-style-regular; @include fluid-type(14px, 16px);; letter-spacing:0.25px;}
	}

	&_caption{

		&_1{@extend .font-style-regular; @include fluid-type(11px, 12px); letter-spacing:0.4px;}
		&_2{@extend .font-style-regular; @include fluid-type(10px, 11px); letter-spacing:1.5px;}
	}

}


p{@include fluid-type(16px, 20px); font-weight: normal}
h1{@include fluid-type(28px, 52px); font-weight:100;}
h2{@include fluid-type(26px, 50px); font-weight: 100;}
h3{@include fluid-type(20px, 44px); font-weight: 100;}
h4{@include fluid-type(18px, 40px); font-weight: 100;}
h5{@include fluid-type(16px, 36px); font-weight: 100;}
h6{@include fluid-type(14px, 32px); font-weight: 100;}