.badge{
	background-color:$color-grey-400;
	color:$color-light-200;
	text-align:center;
	font-size:90%;
	margin:10px;
	position:relative;
	padding:5px 15px;

	&_rounded{
		border-radius:100px;
	}

	&_blue{background-color:$color-blue-200; color:$color-blue-600;}
	&_red{background-color:$color-red-200; color:$color-red-600;}
	&_yellow{background-color:$color-yellow-200; color:$color-yellow-600;}
	&_orange{background-color:$color-orange-200; color:$color-orange-600;}
	&_purple{background-color:$color-purple-200; color:$color-purple-600;}
	&_pink{background-color:$color-pink-200; color:$color-pink-600;}
	&_dark{background-color:$color-dark-300; color:$color-light-200;}
	&_light{background-color:$color-light-100; color:$color-dark-300; border:2px solid $color-dark-300;}
	&_green{background-color:$color-green-200; color:$color-green-600;}
	&_lime{background-color:$color-lime-200; color:$color-lime-600;}
	&_brown{background-color:$color-brown-200; color:$color-brown-600;}
}