.form_input_group{
	display:flex;
	position:relative;
	width:100%;
	align-items:stretch;
	box-sizing:border-box;

	& > .form_input{
		border-color:$color-grey-2;

		&_group_text{
			display:flex;
			align-items:center;
			line-height:1.5;
			text-align:center;
			border:1px solid $color-grey-2;
			padding:0.4rem 0.7rem;
			margin:0.2rem 0rem 1rem 0rem;
			background-color:$color-light-2;
		}
	}

	& > :not(:first-child){
		margin-left:-1px;
	}

	&_rounded{

		& > *{
			border-radius:5px;
		}

		& > :not(:last-child){
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}

		& > :not(:first-child){
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}

	}


	&_small{
		.form_input{
			padding:0.2rem 0.4rem;
			font-size:0.9rem;
			color:red;

			&_group_text{
				padding:0.2rem 0.4rem;
				font-size:0.9rem;
			}
		}
	}

	&_large{
		.form_input{
			padding:0.6rem 0.8rem;
			font-size:1.2rem;
			&_group_text{
				padding:0.6rem 0.8rem;
				font-size:1.2rem;
			}
		}
	}
}