
.navbar{

	width:100%;
	padding:1.75rem 1.5rem;
	font-size:1.3rem;
	background-color:$color-dark-400;
	display:flex;
	align-items:center;
	position:relative;
	top:0px;
	z-index:999;

	&_light{
		background-color:$color-light-100;

		.navbar{
			&_title{
				color:$color-dark-400;
			}

			&_content{
				& > li{
					background-color: $color-light-300;

					& > .navbar_link{
						color:$color-dark-400;

						&:hover{
							background-color:$color-light-200;
						}

					}

				}
			}

			&_dropdown{

				color:$color-dark-400;

				&:hover{
					background-color:$color-light-200;
				}

				& > ul{

					background-color:$color-light-300;

					& > li {

						& > .navbar_link_dropdown{
							color:$color-dark-400;

							&:hover{
								background-color:$color-light-100;
							}
						}
					}
				}
			}

			&_icon{

				&_bar{

					background-color:$color-dark-400;

					&::after,
					&::before{
						background-color:$color-dark-400;
					}

				}

				&_active{
					background-color:rgba(0,0,0,0);

				}
			}
		}
	}

	&_title{
		position: absolute;
		text-decoration:none;
		color:$color-light-100;
		left:10px;
		bottom:12px;
		font-size:1.6rem;

		&_logo{
			position:absolute;
			height:45px;
			left:10px;
			& > img{
				height:inherit;
			}
		}
	}

	&_content{
		list-style-type:none;
		position:absolute;
		top:100%;
		right:0;
		width:100%;
		height:auto;
		padding: 0;
		margin: 0;
		display:none;
		text-align:center;
		transition: right 0.30s ease 0.20s;

		&_left{
			text-align:left;
		}

		&_right{
			text-align:right;
		}


		&.active{
			display:block;
		}

		& > li{
			background-color: $color-dark-400;

			& > .navbar_link{
				display:block;
				padding:10px;
				margin: 0;
				text-decoration:none;
				color:$color-light-100;

				&:hover{
					background-color:$color-dark-400;
				}

			}

		}

	}

	&_dropdown{
		cursor:pointer;
		display:block;
		padding:1rem;
		margin: 0;
		text-decoration:none;
		color:$color-light-100;
		position:relative;

		&:hover{

			background-color:$color-dark-400;

			& > ul{
				display:block;
			}
		}

		& > ul{
			z-index:999;
			width:100%;
			transition:all 0.5s ease;
			display:none;
			position:absolute;
			background-color:$color-dark-400;
			list-style-type:none;
			padding: 0;
			margin: 0;
			top:100%;
			left:0;

			& > li {
				display:flex;
				flex-direction:column;

				& > .navbar_link_dropdown{
					padding:1rem;
					text-decoration:none;
					color:$color-light-100;
					text-align: center;

					&:hover{
						background-color:$color-dark-300;
					}
				}
			}
		}
	}

	&_icon{

		width:35px;
		height:35px;
		position:absolute;
		cursor:pointer;
		right:20px;

		&_bar{
			position:absolute;
			width:100%;
			height:5px;
			background-color:$color-light-100;
			top:50%;
			transform:translateY(-50%);
			right:0px;
			transition:background-color 0.25s ease-in-out 0.35s;

			&::after,
			&::before{
				content:"";
				position:absolute;
				width:100%;
				height:5px;
				right:0;
				background-color:$color-light-100;
				display:block;
			}


			&::after{
				top:12px;
				transition:transform 0.25s ease-in-out,
				top 0.25s ease-in-out 0.35s;
			}

			&::before{
				bottom:12px;
				transition:transform 0.25s ease-in-out,
				bottom 0.25s ease-in-out 0.35s;
			}

			&_rounded,
			&_rounded::after,
			&_rounded::before{
				border-radius:5px;
			}

		}

		&_active{
			background-color:rgba(255,255,255,0);

			&::after{
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				top: 0px;
				transition:transform 0.25s ease-in-out 0.35s,
				top 0.25s ease-in-out;
			}

			&::before{
				transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
				bottom:0px;
				transition:transform 0.25s ease-in-out 0.35s,
				bottom 0.25s ease-in-out;
			}
		}
	}


	&_large{
		padding:2.5rem;
		font-size:1.4rem;

		.navbar_dropdown{

			padding:28px;
			margin: 0;

			& > ul{

				& > li {

					& > .navbar_link_dropdown{
						padding:28px;
					}
				}
			}
		}

		.navbar_title{
			bottom:1.55rem;

			&_logo{
				height:60px;
			}
		}

		.navbar_content{
			& > li{

				& > .navbar_link{
					padding:28px;

				}
			}
		}

		.navbar_icon{
			width:55px;
			height:55px;

			&_bar{
				height:7px;

				&::after,
				&::before{
					height:7px;
				}

				&::after{
					top:14px;
				}

				&::before{
					bottom:14px;
				}

			}

			&_active{

				&::after{
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					top: 0px;
					transition:transform 0.25s ease-in-out 0.35s,
					top 0.25s ease-in-out;
				}

				&::before{
					transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					bottom:0px;
					transition:transform 0.25s ease-in-out 0.35s,
					bottom 0.25s ease-in-out;
				}
			}

		}

	}

	&_small{
		padding:1.25rem;
		font-size:1.1rem;

		.navbar_dropdown{

			padding:0.5rem 0.75rem;
			margin: 0;

			& > ul{

				& > li {

					& > .navbar_link_dropdown{
						padding:0.5rem;
					}
				}
			}
		}

		.navbar_title{

			bottom:5px;

			&_logo{
				height:40px;
			}
		}

		.navbar_icon{
			width:30px;
			height:30px;

			&_bar{
				height:5px;

				&::after,
				&::before{
					height:5px;
				}

				&::after{
					top:10px;
				}

				&::before{
					bottom:10px;
				}

			}

			&_active{

				&::after{
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					top: 0px;
					transition:transform 0.25s ease-in-out 0.35s,
					top 0.25s ease-in-out;
				}

				&::before{
					transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					bottom:0px;
					transition:transform 0.25s ease-in-out 0.35s,
					bottom 0.25s ease-in-out;
				}
			}

		}

	}
}


@media (min-width: 992px) {
	.navbar{

		display:flex;
		padding: 0;
		height:auto;


		&_title{

			position: relative;
			text-decoration:none;
			left:10px;
			bottom:-1px;
			font-size:1.6rem;
			margin-right:10px;

			&_logo{
				left:10px;
				margin-right:20px;
				position:relative;
				height:45px;

				& > img{
					height:inherit;
				}
			}
		}

		&_icon{
			display:none;
		}

		&_dropdown{

			& > ul{
				//width:auto;
			}

		}

		&_content{

			right:0%;
			position:relative;
			display:flex;

			&.active{
				display:flex;
			}

			&_right{
				justify-content:flex-end;
			}

			&_center{
				justify-content:center;
			}


			& > li{

				& > .navbar_link{
					padding:1rem;
				}
			}

		}

		&_small{

			.navbar_title{

				bottom:0px;

				&_logo{
					position:absolute;
				}
			}

			.navbar_content{
				& > li{

					& > .navbar_link{
						padding:8px;
					}
				}
			}

		}

		&_large{

			.navbar_title{

				bottom:0px;

				&_logo{
					position:relative;
					height:60px;

					& > img{
						height:inherit;
					}
				}
			}

			.navbar_content{
				& > li{

					& > .navbar_link{
						padding:28px;

					}
				}
			}

		}

	}
}