
.table{

	box-sizing:border-box;
	width:100%;
	border-collapse:collapse;
	margin-bottom:1rem;
	border-color:$color-dark-5;

	thead,
	tbody,
	tfoot,
	tr,
	th,
	td{
		text-align:center;
		border-color:inherit;
		border-style:solid;
		border-width:0;
	}

	>:not(caption)>*>*{
		border-bottom-width:1px;
	}

	th{
		font-weight:bold;
	}

	thead{
		border-bottom-width:2px;
	}

	tr{
		background-color:$color-blue-1;
	}

	td,
	th{
		padding:0.6rem;
	}


	&_light tr,
	& tr.table_light{
		background-color:$color-light-1;
	}

	&_grey tr,
	& tr.table_grey{
		background-color:$color-grey-1;
	}

	&_warn tr,
	& tr.table_warn{
		background-color:$color-orange-1;
	}

	&_error tr,
	& tr.table_error{
		background-color:$color-red-1;
	}

	&_success tr,
	& tr.table_success{
		background-color:$color-green-1;
	}
	&_dark tr,
	& tr.table_dark{
		background-color:$color-dark-5;
		color:$color-light-1;
	}

	&_dark{
		border-color:$color-light-1;
	}

	&_striped{
		> tbody > tr:nth-of-type(odd){
			filter:brightness(104%);
		}
	}

	&_hover > tbody > tr:hover{

		filter:brightness(90%);
	}

	&_small{
		td,
		th{
			padding:0.2rem;
		}
	}

	&_large{
		td,
		th{
			padding:1rem;
		}
	}

	&_borderless{
		thead,
		tbody,
		tfoot,
		tr,
		th,
		td{
			border:none;
		}
	}

	&_border{
		border:1px solid inherit;

		thead,
		tbody,
		tfoot,
		tr,
		th,
		td{
			text-align:center;
			border-color:$color-grey-4;
			border-style:solid;
			border-width:1px;
		}

	}
}